<!-- delete_customer.html -->
{% extends "layouts.html" %} {% load static %} {% block pagecontent %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-4">Delete Customer</h5>
      <p>Are you sure you want to delete Customer "{{ customer.customer_name }}"?</p>
      <form method="post" action="">
        {% csrf_token %}
        <input type="hidden" name="confirmation" value="ya" />
        <button type="submit" class="btn btn-danger">Yes, Delete</button>
        <a href="{% url 'customer' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
