{% extends "layouts.html" %}
{% block pagecontent %}

<div class="container my-2">
  <div class="card">
    <div class="card-datatable table-responsive pt-0">
      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
        <div class="card-header flex-column flex-md-row">
          <div class="head-label text-center">
            <h5 class="card-title mb-0">History Delivery</h5>
          </div>
        </div>
        <table class="datatables-basic table dataTable no-footer dtr-column collapsed" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 100%">
          <thead>
            <tr>
              <th>No Delivery</th>
              <th>Nama Customer</th>
              <th>Contact Person</th>
              <th>Phone</th>
              <th>Maps</th>
              <th>Driver</th>
              {# Uncomment the following line if 'status' field is present in your model #}
              {# <th>Status</th> #}
            </tr>
          </thead>
          <tbody>
            {% for item in items %}
              {% if item.status != "Pickup" %}
                <tr>
                  <td>{{ item.no_delivery }}</td>
                  <td>{{ item.customer_name }}</td>
                  <td>{{ item.cp }}</td>
                  <td>{{ item.hp }}</td>
                  <td>
                    <a href="/monitoring/{{ item.no_delivery }}" class="btn btn-primary btn-sm" target="_blank">Buka Map</a>
                  </td>
                  <td>{{ item.driver_name }}</td>
                  {# Uncomment the following line if 'status' field is present in your model #}
                  {# <td>{{ item.status }}</td> #}
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% block addScript %}
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<script src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
{% endblock addScript %}

{% endblock pagecontent %}
